@media screen and (max-width: 1199px) {
  .dish img {
    width:300px;
    height: 180px;
  }

  .sushi {
    width: 200px;
  }
}


@media screen and (max-width: 1000px) {
  .dish.last {
    justify-content: center;
  }
  .contact_item.contacts {
    flex-basis: 40%;
    padding: 30px 30px 0;
  }
  .form {
    width: 100%;
    flex-basis: 60%;
    height: auto;
  }
}

@media screen and (max-width: 991px) {
  .menu-section {
    padding: 0 0;
  }

  .hero_section_main {
    padding: 10px 0 20px;
  }

  .facts {
    padding: 10px 0;
  }

  .sushi {
    width: 300px;
  }

  .map {
    flex-basis: 100%;
  }

  .text_h {
    font-size: 30px;
  }

  .contact_item {
    text-align: center;
    margin-bottom: 20px;
    margin-right: 0;
    padding-right: 0;
  }

  .footer_btn.last {
    display: none;
  }

  .contact_text_main {
    font-weight: bold;
    font-size: 20px;
  }

  .text_p {
    display: none;
  }
  .dish {
    flex: auto;
    img {
      margin: auto;
      width: 340px;
      height: 220px;
    }
  }
  .dish_text {
    margin-top: 10px;
    font-size: 24px;
  }
  .logo {
    padding-right: 0;
  }
  .container.cafe-menu {
    justify-content: center;
  }
  .main_p {
    width: 80%;
  }
  header.main-header {
    height: auto;
    padding-bottom: 70px;
  }
  .main_h {
    font-size: 40px;
    line-height: 40px;
    font-family: 'Noto Sans TC', sans-serif;
  }

  .contact_item {
    flex-basis: 50%;
  }

  .contacts_section {
    padding: 40px 20px 90px;
    display: block;
  }

  .contact_info {
    margin: auto;
  }

  .map {
    width: 100%;
    margin-top: 50px;
  }

  .contacts.index {
    display: none;
  }

  .form-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .contact_info.contacts, .contact_item_text.contacts {
    order: 1;
    flex-basis: 100%;
  }

  .contact_info.contacts {
    text-align: left;
    margin: 0;
    margin-top: 40px;
    margin-right: auto;
  }

  .contact_info.contacts .contact_item img {
    width: 9%;
  }

  .contacts_section.contacts {
    padding: 0 10px 30px;
  }

  .contact_info.contacts .contact_item .contact_text_span {
    margin: 0 20px;
    font-size: 17px;
  }

  .form-section {
    margin-top: 50px;
  }

  .contact_item_text.contacts {
    text-align: center;
    margin-bottom: 20px;
    img {
      display: block;
      margin: auto;
    }
  }

  .contact_item.contacts {
    padding: 50px 30px;
    flex-basis: 30%;
    width: 35%;
    margin: auto;
  }

  .pin {
    position: absolute;
    top: 0;
    left: 23%;
    width: 7%;
  }

  .form {
    margin: 70px auto;
    width:75%;
  }

  .menu_btns {
    padding-right: 0;
  }

  .map.contacts {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .contact_info.contacts {
    margin-right: 10px;
  }
  .form {
    width: 100%;
    flex-basis: 60%;
    height: auto;
    padding: 20px;
  }
  .contact_item.contacts {
    flex-basis: 40%;
    padding: 30px;
    width:40%;
  }

  .text_h {
    font-size: 25px;
  }

  .sushi {
    width: 200px;
  }

  .contact_info {
    margin-top:0;
  }


  //
  .menu_btns {
    padding: 20px 30px 0 0;
    flex-grow: 4;
    display: flex;
    justify-content: flex-end;
    img {
      margin: 0 20px;
      width: 50%;
    }
    .burger {
      width: 70%;
    }
    .social-media {
      padding: 5px 0;
    }
  }

  .menu-container {
    order: 1;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    flex-grow: 0;
    display: block;
    a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #FFFFFF;
      display: block;
      transition: 0.3s;
    }
    .closebtn {
      position: absolute;
      top: 0;
      right: 20px;
      font-size: 36px;
      margin-left: 50px;
    }
  }

  .nav-link {
    margin-bottom: 30px;
    img {
      width: 10%;
    }
  }
}



@media screen and (max-width: 700px) {
  .menu-section {
    padding: 0;
  }

  header.main-header {
    height: auto;
    padding-bottom: 20px;
  }

  .map {
    flex-basis: 100%;
  }

  .contact_item {
    flex-basis: 50%;
  }

  .sushi {
    width: 100%;
  }

  .hero_section_main {
    padding: 0 0 120px;
    width: auto;
  }

  .main_p {
    width: 70%;
    padding-bottom: 10px;
  }

  .main_h {
    font-size: 38px;
    line-height: 40px;
    font-family: 'Noto Sans TC', sans-serif;
    padding-bottom:10px;
  }

  .nav-link {
    margin-bottom: 30px;
    img {
      width: 10%;
    }
  }

  .main_h {
    font-size: 36px;
    line-height: 40px;
  }

  .dish_text {
    font-size: 27px;
  }

  .main_p {
    font-size: 18px;
    width: auto;
    margin: 5px 0 30px;
  }

  .slider-nav {
    display: flex;
    justify-content: space-between;
  }

  .item {
    display: none;
    width: 100%;
    flex-basis: 100%;
    padding: 0;
    margin: 20px 0;
  }

  .item.active {
    display: block;
  }

  .item_text {
    font-size: 26px;
    font-weight: 500;
    margin: 10px 0 5px;
  }

  .item_small_text {
    font-size: 19px;
  }

  .item_price {
    font-size: 25px;
  }

  .item_btn {
    font-size: 17px;
    padding: 15px 35px;
    margin: 20px 0;
  }

  .most-popular {
    position: relative;
    padding: 20px 20px;
  }

  .see-all_btn {
    font-size: 22px;
    img {
      width: 6%;
    }
  }

  .items_container {
    margin: 0;
  }

  .facts {
    padding: 20px;
  }

  .section-text {
    font-weight: 400;
  }

  .column {
    flex: 100%;
  }

  .text_h {
    font-size: 30px;
  }

  .facts_text {
    margin: auto;
    top: 40%;
  }

  .contacts_section {
    padding: 40px 20px 90px;
    display: block;
  }

  .contact_info {
    margin: auto;
  }

  .map {
    width: 100%;
    margin-top: 50px;
    margin-right: 0;
    padding-right: 0;
  }

  footer {
    padding: 30px 15px;
    justify-content: space-between;
    .logo {
      margin: 10px 0;
    }
  }

  .footer_btn {
    display: none;
    .display {
      display: block;
    }
    a {
      font-size: 15px;
    }
    ul {
      padding: 0;
    }
  }

  .text_p {
    display: none;
  }

  .contacts.index {
    display: none;
  }

  .form-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .contact_info.contacts, .contact_item_text.contacts {
    order: 1;
    flex-basis: 100%;
  }

  .contact_info.contacts {
    text-align: left;
    margin: 0;
    margin-top: 40px;
    margin-right: auto;
  }

  .contact_info.contacts .contact_item img {
    width: 9%;
  }

  .contacts_section.contacts {
    padding: 0 10px 30px;
  }

  .contact_info.contacts .contact_item .contact_text_span {
    margin: 0 20px;
    font-size: 14px;
  }

  .form-section {
    margin-top: 50px;
  }

  .contact_item_text.contacts {
    text-align: center;
    margin-bottom: 20px;
    img {
      display: block;
      margin: auto;
    }
  }

  .contact_item.contacts {
    padding: 50px 30px;
    flex-basis: 30%;
    width: 60%;
    margin: auto;
  }

  .pin {
    position: absolute;
    top: 0;
    left: 23%;
    width: 7%;
  }

  .form {
    margin: 70px 0 0 0;
  }

  .menu_btns {
    padding-right: 0;
  }

  .map.contacts {
    width: 100%;
  }
}

@media screen and (max-width: 470px) {
  .contact_text_main {
    font-size: 14px;
    font-weight: bold;
  }
  .contact_text_span {
    font-size: 12px;
  }

  .dish_text {
    font-size: 25px;
  }

  .main_h {
    font-size: 24px;
    .contacts {
      font-size: 54px;
    }
  }
  .text_h {
    font-size: 23px;
  }

  h2.section-text {
    font-size: 23px;
  }
}

@media screen and (max-width: 375px) {

  .previous, .next {
    top: 30%;
  }

  .map {
    margin-bottom: 0;
  }
}